<div class="container">
    <div class="row">
        <div class="col-sm-5">
            <p class="muted credit">We <i class="icon icon-heart"></i> Bitcoin</p>
        </div>
        <div class="col-sm-4 text-center">
            <p class="muted credit"></p>
        </div>
        <div class="col-sm-3">
            <ul class="list-inline pull-right">
                <li>
                    <i class="icon icon-comment"></i>
                    <a
                        href="javascript:;"
                        class="feedback-button"
                        data-control="ajax-modal"
                        data-handler="onLoadSubmitFeedbackForm"
                        data-update-partial="site/contact-form"
                        data-modal-id="modalFeedbackForm">
                        Provide feedback
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
