<div class="row">
    <div class="col-sm-5">
        <!-- Header -->
        <header id="layout-header" class="loadinga">
            <h1 class="logo">
                <a href="{{ 'dash'|page }}">
                    <em>tx</em><i class="logo-icon icon icon-btc"></i><span>utton</span>
                </a>
            </h1>
        </header>
    </div>

    <div class="col-sm-7">

        <!-- Nav -->
        <nav id="layout-nav" class="pull-right">
            <ul class="nav nav-tabs">
                {% partial 'site/nav' %}
            </ul>
        </nav>

    </div>
</div>
