//
// Settings
//

@import "../theme/boot";


.wallet-address-sequence {
    table td:first-child {
        width: 20px;
    }
    td span {
        background: #e9e9e9;
        color: #999;
        display: block;
        width: 25px;
        height: 25px;
        border-radius: 99px;
        text-align: center;
        font-weight: bold;
    }
    td code {
        font-size: 16px;
        background-color: transparent;
    }
}

.settings-form {
    padding-bottom: 20px;

    .form-group {
        margin-bottom: 25px;
    }
}