<div class="keypad-control">
    <table>
        <tr>
            <td><a onclick="keyPadPush('1')">1</a></td>
            <td><a onclick="keyPadPush('2')">2</a></td>
            <td><a onclick="keyPadPush('3')">3</a></td>
        </tr>
        <tr>
            <td><a onclick="keyPadPush('4')">4</a></td>
            <td><a onclick="keyPadPush('5')">5</a></td>
            <td><a onclick="keyPadPush('6')">6</a></td>
        </tr>
        <tr>
            <td><a onclick="keyPadPush('7')">7</a></td>
            <td><a onclick="keyPadPush('8')">8</a></td>
            <td><a onclick="keyPadPush('9')">9</a></td>
        </tr>
        <tr>
            <td><a onclick="keyPadPush('00')">00</a></td>
            <td><a onclick="keyPadPush('0')">0</a></td>
            <td onclick="keyPadDelete()">
                <a class="keypad-delete-key">
                    <i class="icon icon-caret-left"></i><i class="icon icon-window-close"></i>
                </a>
            </td>
        </tr>
        <tr class="button ok-button" id="keyPadPushPrimary">
            <td colspan="3" onclick="keyPadPushPrimary()"><a></a></td>
        </tr>
    </table>
</div>

<input type="hidden" name="keypad_value" value="" id="keyPadValue" />
