{% set amount = amount ?: '0.00' %}
{% set amountCoin = amountCoin ?: '0.0' %}
{% set amountSplit = amount|split('.') %}
{% set amountDollars = amountSplit[0]|number_format %}
{% set amountCents = amountSplit[1] ?: 00 %}

{% if amountCents|length == 1 %}
    {% set amountCents = amountCents ~ '0' %}
{% endif %}

{% if screenMode == 'pin' %}

    <div class="screen-control" id="screenControl">
        <div class="screen-title"><span>Authenticate</span></div>
        <div class="screen-error"><span>Invalid pin</span></div>
        <div class="screen-symbol"><span><i class="icon icon-lock"></i></span></div>
        <div class="screen-amount"><span></span></div>
    </div>

    <script> POS_SCREEN = 'pin' </script>

{% elseif screenMode == 'confirm' %}

    <div class="screen-control has-success" id="screenControl">
        <div class="screen-title"><span>Confirm {{ amountCoin }} BCH</span></div>
        <div class="screen-error"><span>Error</span></div>
        <div class="screen-symbol"><span>$</span></div>
        <div class="screen-amount"><span>{{ amountDollars }}.</span><small>{{ amountCents }}</small></div>
    </div>

    <script> POS_SCREEN = 'confirm' </script>

{% else %}

    <div class="screen-control" id="screenControl">
        <div class="screen-title"><span>{{ screenTitle ?: 'Purchase' }}</span></div>
        <div class="screen-error"><span>Error</span></div>
        <div class="screen-symbol"><span>$</span></div>
        <div class="screen-amount"><span>{{ amountDollars }}.</span><small>{{ amountCents }}</small></div>
    </div>

    <script> POS_SCREEN = 'amount' </script>

{% endif %}
