{% partial 'pos/screen' %}

<div class="payment-section m-b-xs">
    <div id="paymentStatus" class="payment-status">
        <h4 data-presend class="m-t m-b-sm text-center is-active">Send {{ amount }} BCC</h4>
        <h4 data-pending class="m-t m-b-sm text-center animate-flicker">Transaction pending</h4>
        <h4 data-confirm class="m-t m-b-sm text-center">Transaction confirmed</h4>
    </div>

    <div class="flip-container" id="flipContainer" onclick="flipPaymentCard()">
        <div class="flipper">
            <div class="front">
                <div
                    id="qrcode"
                    class="payment-qrcode"
                    data-address="{{ address }}"
                    data-amount="{{ amount }}"></div>
            </div>
            <div class="back">
                <div class="payment-checker">
                    <div class="payment-progress">
                        <div class="progress blue state-0">
                            <span class="progress-left">
                                <span class="progress-bar"></span>
                            </span>
                            <span class="progress-right">
                                <span class="progress-bar"></span>
                            </span>
                            <div class="progress-value">
                                <i class="icon icon-btc"></i>
                                <small>{{ address }}</small>
                                <!-- tx --> <!-- 0/6 -->
                            </div>
                        </div>
                    </div>
                    <h4 class="payment-amount text-center">
                        <span class="amount-paid">0</span>
                        <span class="amount-divider">/</span>
                        <span class="amount-due">{{ amount }}</span>
                    </h4>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="keypad-control">
    <table>
        <tr class="button">
            <td colspan="3" onclick="keyPadCheckPayment()"><span>Check payment</span></td>
        </tr>
    </table>
</div>

<script> POS_MODE = 'transaction' </script>
