{{ form_ajax('onAjax', { id: 'posTransactionForm', flash: 1 }) }}

    {% partial 'pos/screen' screenTitle = 'Sale #' ~ saleIndex %}

    <div id="partialPosTransaction">
        {% partial 'pos/transaction' %}
    </div>

    <div class="keypad-control">
        <table>
            <tr class="button" id="keyPadPushPrimary">
                <td colspan="3"><a onclick="keyPadCheckPayment()">Check payment <strong id="autoCheckTimer" class="autocheck-timer">(5)</strong></a></td>
            </tr>
        </table>
    </div>

    <div class="keypad-control" id="secondaryMenu" style="display: none">
        <table>
            <tr class="divider">
                <td colspan="3"><span></span></td>
            </tr>
            <tr class="button is-secondary">
                <td colspan="3"><a href="https://bitcoincash.blockexplorer.com/address/{{ address }}" target="_blank">View on blockchain</a></td>
            </tr>
            <tr class="button is-secondary">
                <td colspan="3"><a
                    data-control="ajax-modal"
                    data-handler="onLaunchSalesNotes"
                    data-update-partial="pos/sale-notes-form"
                    data-modal-class="modal-lg"
                    data-modal-id="posLaunchSaleNotes"
                    data-request-data="sale_hash: '{{ sale.hash }}'"
                    >Add sale notes</a></td>
            </tr>
            <tr class="button is-secondary">
                <td colspan="3" onclick="keyPadNewPayment()"><a>Make another payment</a></td>
            </tr>
        </table>
    </div>

    <input type="hidden" name="sale_hash" value="{{ sale.hash }}" />

{{ form_close() }}

<script> POS_MODE = 'transaction'; makeQrCode() </script>
