//
// Screen control
//

.screen-control {
    background: #f0f0f0;
    border-radius: .5rem;
    height: 11rem;
    box-shadow: inset -.5rem -.5rem .5rem rgba(0,0,0,.3);
    position: relative;
    font-weight: bold;

    .screen-currency {
        position: absolute;
        top: .3rem;
        left: 1.5rem;
        color: rgba(0,0,0,.3);
        text-align: left;
        > span { font-size: 1.6rem; }
    }

    .screen-symbol {
        position: absolute;
        bottom: .5rem;
        left: 1rem;
        > span { font-size: 3.5rem; }
    }

    .screen-title {
        position: absolute;
        top: .3rem;
        right: 1.5rem;
        color: rgba(0,0,0,.3);
        text-align: right;
        > span { font-size: 1.6rem; }
    }

    .screen-amount {
        position: absolute;
        bottom: 0;
        right: 1.5rem;
        > span {
            font-size: 4.5rem;
        }
        > small {
            font-size: 3rem;
        }
    }

    .screen-error {
        display: none;
        position: absolute;
        top: .3rem;
        right: 1.5rem;
        color: #d9534f;
        text-align: right;
        > span { font-size: 1.6rem; }
    }

    &.has-success {
        background: #dff0d8;
        .screen-title {
            color: #148f77;
        }
    }

    &.has-error {
        background: #f2dede;
        .screen-symbol {
            color: #d9534f;
        }
        .screen-title {
            display: none;
        }
        .screen-error {
            display: block;
        }
    }
}
