<div class="wallet-guide-response">
    <h5>Step 1: Open the Bitcoin.com Wallet app</h5>
    <p>
        Download and install the <strong>Bitcoin.com Wallet</strong> app from your device's marketplace.
        Proceed through the initial wallet set up instructions.
    </p>

    <h5>Step 2: Create a new empty wallet</h5>

    <p>
        From the Home screen, tap the plus symbol (+) next to the Wallets heading.
        Select <strong>New personal wallet</strong> and assign the wallet with a name.
        Toggle the <strong>Bitcoin Cash</strong> radio control.
        Click <strong>Create new wallet</strong>.
    </p>

    <h5>Step 3: Locate account public key (XPUB)</h5>

    <p>
        From the Settings screen, tap on your newly created wallet under the <em>Wallets &amp; Integrations</em> section.
        Scroll to the bottom and tap <strong>More Options</strong> then <strong>Wallet Information</strong>.
        Scroll to the bottom and tap on the "xpub" code below the <em>Extended Public Keys</em> section.
        The code will be saved to your clipboard.
    </p>

    <h5>Step 4: Input the XPUB key</h5>

    <p>
        Open TXButton.com using your device browser, sign in to your account and tap Wallet Settings.
        Paste the XPUB key from your clipboard in to the form.
        Tap the <strong>Check key</strong> button to observe the first address in the sequence.
    </p>

    <h5>Step 5: Verify the address sequence</h5>

    <p>
        From the Bitcoin.com wallet, tap the Back arrow and tap <strong>Wallet Addresses</strong>
        Tap the plus symbol (+) next to the Unused Addresses heading three (3) times.
        Make sure the addresses shown on this screen <em>match exactly</em> with with the address sequence shown on the TXButton Wallet Settings page.
    </p>

    <h5>All done! Click <strong>Save key</strong> and start enjoying the features of TXButton.</h5>
</div>
