[NOTE: These instructions were provided by a Ledger user and are untested]

Step 1: Open the "Ledger Wallet Bitcoin" Google Chrome App

Step 2: From the Accounts Overview screen, click "My Account" under "QUICK LOOK"

Step 3: Click "Account Settings" in the top-right corner under balance

Step 4: In the "ADVANCED" section, click the "Export" button next to "Extended public key" (XPUB)

You can then copy your XPUB or scan the QR code. The XPUB can be vertified at the following blockchain.info web address: https://blockchain.info/xpub/[paste xpub here]
