<div class="wallet-guide-response">
    <h5>Step 1: Navigate to TREZOR wallet</h5>
    <p>
        Open your TREZOR wallet by navigating to
        <a href="https://wallet.trezor.io/" target="_blank">https://wallet.trezor.io/</a>.
        Make sure you have your USB device plugged in.
    </p>

    <h5>Step 2: Create a new empty account</h5>

    <p>
        From the currency selection list, make sure you have <strong>Bitcoin Cash (BCH)</strong> selected.
        Below the list of accounts, click the <strong>Add Account</strong> link to create a brand new account.
        The new account will be assigned a number, for example, <em>Account #5</em>.
    </p>

    <h5>Step 3: Locate account public key (XPUB)</h5>

    <p>
        Above the list of accounts, click your device name to be taken to the Device basics screen.
        Click the <strong>Show XPUBs</strong> button to reveal the public keys.
        Click on the Account number you created in Step 2 and copy the value to your clipboard.
    </p>

    <h5>Step 4: Input the XPUB key</h5>

    <p>
        Paste the XPUB key from your clipboard in to the form directly below these instructions.
        Click the <strong>Check key</strong> button to observe the address sequence.
    </p>

    <h5>Step 5: Verify the address sequence</h5>

    <p>
        From the TREZOR wallet, click the Account number and the <strong>Receive</strong> tab.
        Click the <strong>More addresses</strong> button three (3) times.
        Make sure the addresses shown on the TREZOR wallet <em>match exactly</em> with the address sequence shown below.
    </p>

    <h5>All done! Click <strong>Save key</strong> and start enjoying the features of TXButton.</h5>
</div>
