description = "POS layout"

[resources]
less[] = "layouts/pos.less"
js[] = "pages/pos.js"
js[] = "pages/pos/pos.auth.js"
js[] = "pages/pos/pos.amount.js"
js[] = "pages/pos/pos.transaction.js"
==
<!DOCTYPE html>
<html>
    <head>
        {% partial 'site/meta' %}
        {# http://www.onlywebpro.com/2015/07/19/optimizing-full-screen-mobile-web-app-for-ios/ #}
        <meta name="apple-mobile-web-app-title" content="Bitcoin POS" />
        {#
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
        #}
        <!-- Scripts -->
        {% partial 'site/scripts' %}
    </head>
    <body ontouchstart="">

        <!-- Flash messages -->
        {% partial 'site/flash-messages' %}

        <!-- Content -->
        <section id="layout-content">
            {% page %}
        </section>

    </body>
</html>
