title = "Settings"
url = "/settings"
layout = "default"

[resources]
vars[currentPage] = "settings"
less[] = "pages/settings.less"

[userSettings]
==
<div class="row">
    <div class="col-md-2 text-center hidden-sm hidden-xs">
        <i class="icon icon-cogs"></i>
    </div>
    <div class="col-lg-8 col-md-9">
        {{ form_ajax('onSaveSettings', { flash: 1, class: 'settings-form' }) }}

            <div class="form-group">
                <label>Wallet setup</label>
                <div>
                    {% if wallet %}
                        <p class="help-block"><span class="text-success">Found a valid wallet</span></p>
                    {% else %}
                        <p class="help-block"><span class="text-danger">No valid wallet is found</span></p>
                    {% endif %}
                    <a href="{{ 'settings/wallet'|page }}" class="btn btn-sm btn-default">
                        Manage wallet
                    </a>
                </div>
            </div>

            <div class="form-group">
                <label>Primary currency</label>
                <select name="currency_code" class="form-control">
                    {% for code, label in currencies %}
                        <option {{ settings.currency_code == code ? 'selected' }} value="{{ code }}">{{ code }} - {{ label }}</option>
                    {% endfor %}
                </select>
            </div>

            {#
            <div class="form-group">
                <label>Required confirmations</label>
                <p class="help-block">Number of confirmations before a sale is considered paid.</p>
                <input
                    name="require_confirm"
                    value="{{ settings.require_confirm }}"
                    autocomplete="off"
                    type="text"
                    class="form-control"
                    style="width: 90px" />
            </div>
            #}

            <div class="form-group">
                <label>Username (POS)</label>
                <p class="help-block">Web address for point-of-sales.</p>
                <div class="input-group">
                    <span class="input-group-addon">{{ 'pos'|page }}/</span>
                    <input
                        name="pos_username"
                        value="{{ settings.pos_username }}"
                        autocomplete="off"
                        type="text"
                        class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <label>Pin number (POS)</label>
                <p class="help-block">Shared pin number used to access POS.</p>
                <input
                    name="pos_pin"
                    value="{{ settings.pos_pin }}"
                    autocomplete="off"
                    type="text"
                    class="form-control"
                    style="width: 90px" />
            </div>

            <button type="submit" class="btn btn-success btn-fancy">
                Save settings
            </button>
        {{ form_close() }}
    </div>
</div>
